{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>Home</title>
{% endblock %}
{% block content %}
<div class="p-5 text-center bg-light">
    <h1 class="mb-3">Welcome To Our Library System</h1>
</div>
<div class="container" style="margin-top: 30px;">
    <section class="cover">
       {% for book in books %}
        <div style="display: inline;">
            <div class="card" style="margin-top: 25px;">
                <div class="row no-gutters">
                    <div class="col-sm-5" style="background: #868e96;">
                        <img src="/media/{{ book.pic }}"class="card-img-top h-100" alt="...">
                    </div>
                    <div class="col-sm-7">
                        <div class="card-body">
                            <h5 class="card-title">Title: {{ book.title }}</h5>
                            <h5 class="card-title">Auther: {{ book.author }}</h5>
                            <h5 class="card-title">Publish Year: {{ book.publish_year }}</h5>
                            <p class="card-text">{{ book.summary }}</p>
                        </div>
                    </div>
                </div><br>
            </div>
            <div class="container" style="padding: 0;">
                <a class = "btn btn-primary" style="margin-top: 5px; margin-bottom: 5px; width: 100%;" href="{% url 'bookDetails' book.id %}">Show Details</a><br>
                {% if user.is_authenticated %}
                {% if not user.is_superuser %}
                {% if book.status %}
                    <a class = "btn btn-primary" style="margin-top: 5px; width: 100%;"   >Book Not Available!</a>
                {% else %}
                    <a class = "btn btn-primary" style="margin-top: 5px; width: 100%;" href="{% url  'borrow' book.id %}">Borrow Book</a>
                </div>
                {% endif %}
                {% endif %}
                {% endif %}
        </div>
       {% endfor %}

    </section>
</div>
{% endblock content %}