{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="p-5 text-center bg-light">
    <h1 class="mb-3">Borrowed Books</h1>
</div>
<div class="container" style="margin-top: 30px;  ">
    {% for book in books %}
        <div class="card" style="width: 18rem; display:inline-block;">
            <img class="card-img-top" height="300px" src="/media/{{ book.pic }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Title: {{ book.title }}</h5>
                <p class="card-text">Author: {{ book.author }}</p>
                <p class="card-text">Summary: {{ book.summary }}</p>
                <p class="card-text">ISBN: {{ book.ISBN }}</p>
                <p class="card-text">Publish year: {{ book.publish_year }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}