{% extends "base.html" %}

{% block content %}
<div class="p-5 text-center bg-light">
    {% if user.is_authenticated %}
        <h1 class="mb-3">Hello {{request.user}}</h1>
    {% else %}
        <h1 class="mb-3">Hello</h1>
    {% endif %}
</div><hr>


<div class="p-5 text-center bg-light">
        <a href="{% url 'addBook' %}" class="btn btn-primary stretched-link">Add Book</a>
        <a href="{% url 'deleteBook' %}" class="btn btn-primary stretched-link">Delete/Update Book</a>
        <a href="{% url 'allbooks' %}" class="btn btn-primary stretched-link">Books</a>
        <a href="{% url 'borrowedbooks' %}" class="btn btn-primary stretched-link">Borrowed Books</a>
        <a href="{% url 'allstudents' %}" class="btn btn-primary stretched-link">Studetns</a>
</div>
{% endblock %}